#overlay{
    position: fixed;
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #85144b;
    color: blanchedalmond;
    text-align: center;
    z-index: 2;
}

#overlay p{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: blanchedalmond;

}

#overlayPlayerWin{
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(245,39,110,0.59);
    color: lemonchiffon;
    text-align: center;
    z-index: 3;
}

.hidden{
    display: none;
}

#playerName{
    width: 500px;
    height: 50px;
    color: #85144b;
    font-weight: bold;
    font-size: 42px;
    text-align: center;
    border-radius: 6px;
}

#playerNameBtn{
    background-color: white;
    border-radius: 2px;
    border: white 0px;
    font-family: Arial, Helvetica, sans-serif;
    cursor: pointer;
}


body{

    display: flex;
    justify-content: center;
    font-size: 70px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight:normal;
    background-color: #357588;
}

#nameLeft{
    position: fixed;
    margin-left: -300px;
    float:left
    
}
#nameRight{
    float: right;
}

#playBtn{
    display:none;
    background-color: rgb(219, 106, 106);
    width: 166px;
    height: 100px;
    border-radius: 7px;
    color: floralwhite;
    font-size: 33px;
    margin-left: 319px;
    margin-top: 67px;
    cursor: pointer;
}

#popupDiv{
    background-color: antiquewhite;
    width: 0.5vh;
    height: 0.3vh;
    border-radius: 6px;
    color: #000129;

}

#bigBoiContainer{
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 2em;
    margin-left: 100px;
}

#container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 800px;
    height: 600px;
}

.square{
    width: 200px;
    height: 200px;
    text-align: center;
    border: solid whitesmoke 2px;
    color: white;
    cursor: pointer;
}

#sq1,
#sq2,
#sq3{
    border-top: none;
}

#sq1,
#sq4,
#sq7{
    border-left: none;
}

#sq3,
#sq6,
#sq9{
    border-right: none;
}

#sq7,
#sq8,
#sq9{
    border-bottom:none;
}